body{

    background:#111;

    color:#ddd;

    font-family:Georgia, serif;

    width:800px;

    margin:auto;

    padding-top:40px;

}

a{

    color:#7ab7ff;

}

h1{

    border-bottom:1px solid #444;

}