<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Login - Embedenv</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body class="special-page">


<div class="special-container">

    <div class="special-logo">
        Σ Embedenv
    </div>


    <h1>Sign in</h1>

    <p class="special-description">
        Sign in to your development environment.
    </p>


    <form>

        <input
            type="text"
            placeholder="Username"
            class="special-input"
        >


        <input
            type="password"
            placeholder="Password"
            class="special-input"
        >


        <button
            type="button"
            class="special-button">

            Sign in

        </button>

    </form>


    <a href="/" class="back-link">
        ← Return to compiler
    </a>

</div>


</body>

</html>